# পাইথন ক্যাশ ফাইল
__pycache__/
*.py[cod]
*$py.class

# এনভায়রনমেন্ট ফাইল (পাসওয়ার্ড ও সিক্রেট থাকে এখানে)
.env
venv/
env/
.venv/

# সিস্টেম ফাইল
.DS_Store
Thumbs.db

# স্ট্রিমলিট এর ইন্টারনাল ফাইল
.streamlit/config.toml